<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Producto agregado correctamente!</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<button class="btn btn-lg btn-outline-primary float-right m-2" (click)="open(content)">
  Agregar producto
</button>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ModalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-product [product]="product"></app-edit-product>
  </div>
</ng-template>


<button type="button" class="btn btn-lg btn-outline-primary float-left m-2" data-toggle="modal" data-target="#myModal">
  Eliminar producto
</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close float-left" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eliminar producto</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Producto eliminado correctamente!</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <label class="col-sm-2 col-form-label">Id</label>
        <input type="number" placeholder="Id del producto a eliminar" [(ngModel)]="productId" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="getOne()">Eliminar</button>
      </div>
    </div>

  </div>
</div>

<button type="button" class="btn btn-lg btn-outline-primary m-2" data-toggle="modal" data-target="#myUpdate">Modificar producto</button>

<!-- Modal -->
<div id="myUpdate" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close float-left" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modificar producto</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Producto modificados correctamente!</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <ul>
          <li>
            <label class="col-sm-2 col-form-label">Id</label>
            <input type="number" placeholder="Id del producto a modificar" [(ngModel)]="productId" />
          </li>
          <li>
            <label class="col-sm-2 col-form-label">Nombre</label>
            <input type="text" placeholder="Nuevo nombre de producto" [(ngModel)]="name" />
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateClick()">Modificar</button>
      </div>
    </div>

  </div>
</div>




<div>
  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of listOfProducts">
        <td>{{data.productId}}</td>
        <td>{{data.productName}}</td>

      </tr>
    </tbody>

  </table>

</div>
